*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

}

section{
    height: 100vw;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}
div a{
    color: black;
    text-decoration: none;
}

#red{
    background-color: salmon;
    transition: all 2s;
}
#yellow{
    background-color: yellow;
}
#green{
    background-color: green;
}

#rotate{
    transform: rotate(180deg);
}


@keyframes arrow {
    0%{
        transform: translateY(0);
        opacity: 0.2;
    }
    25%{
        transform: translateY(20px);
        opacity: 0.4;
    }
    50%{
        transform: translateY(0);
        opacity: 0.6;
    }
    75%{
        transform: translateY(20px);
        opacity: 0.8;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

body p{
    animation: arrow 5s infinite;
}

#rotate{
    transform: rotate(180deg);
}

